/* General */
p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  font-family: Roboto;
  padding-right: 24px;
  background-color: rgb(247, 247, 247);
}

/* video */
.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.channel-picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.profile-img {
  width: 36px;
  border-radius: 50px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-author {
  margin-bottom: 4px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.vidoe-grid {
  display: grid;
  column-gap: 16px;
  row-gap: 40px;
}

@media(max-width: 7500px) {
  .vidoe-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 751px) and (max-width: 999px) {
  .vidoe-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width: 1000px) {
  .vidoe-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Header */
.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: rgb(232, 230, 230);
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36.5px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  width: 0;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
}

.search-icon {
  height: 25px;
  background-color: rgb(240, 240, 240);
}

.search-bar::placeholder {
  font-family: Robto;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  margin-left: -1.5px;
  margin-right: 10px;
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  white-space: nowrap;
}

.search-button:hover .tooltip {
  opacity: 1;
  transition: 0.3s;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgb(228, 228, 228);
  position: relative;
}

.voice-search-button:hover .tooltip {
  opacity: 1;
  transition: 0.3s;
}

.voice-search-icon {
  height: 24px;
}

.rigth-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.current-user-picture {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

/* time bar */
.time {
  position: absolute;
  background-color: black;
  color: white;
  padding: 4px;
  bottom: 10px;
  right: 5px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
}

.notifications-bar {
  position: relative;
}

.notifications-no {
  position: absolute;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  border-radius: 8px;
  padding: 2px 5px 2px 5px;
  top: -2px;
  right: -5px;
}

/* sidebar */
.sidebar {
  position: fixed;
  background-color: white;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
  transition: 1s;
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div{
  font-size: 10px;
}